{{ define "content" }} 
<div> 
        {{ $list := where (where .Site.AllPages "Section" "jobs") ".Params.notsingle" "!=" true }} 
        {{ range $list.GroupByDate "2006-01" "desc" }} 
            <div >
                <div class="heading">
                    <span class="title">{{.Key}}</span>
                </div>
                <div class="content">
                    <ul>
                        {{range .Pages}}
                        <li>
                            <span class="fg-grayLighter">{{ .Date.Format "01-02" }}</span>
                            <a href="{{.Permalink}}" class="fg-black fg-hover-blue"> {{.Title}}</a> 
                             {{range .Params.tags}}
                           <span class="fg-grayLighter">#{{.}}</span> 
                        {{end}} 
                        </li>
                        {{end}}
                    </ul> 
                </div>
            </div> 
        {{ end }} 
</div> 
 {{ end }}