<!DOCTYPE html>
<html> 
<head>
    {{partial "header.html" .}}
</head> 
<body>
    <header>
        {{partial "appbar.html" .}}
    </header>
    <main class="container page-content">
        <div class="fixed-bottom"> 
            <a class="button success block-success" href="{{absURL  "jobs.html"}}" title="最新Golang招聘信息">最新</a>  
            <a class="button info block-info" href="{{absURL  "jobs/history.html"}}" title="所有Golang招聘信息">所有</a>
    </div> 
        <div class="grid ">
            <div class="row cells12" >
                <div class="cell colspan9">
   <content>
            {{ block "content" . }} {{ end }}
        </content>
                </div>
                <div class="cell colspan3">
                    {{if .IsPage}}
                     <div>
                     {{partial "jobs/last-list.html" .}}  
                </div>
                    {{end}}
                    <div>
                        <span>广告</span>
                     {{partial "ads/ad-carousel.html" .}} 
                  </div>
               
                </div>
            </div>
        </div>
     
    </main>
    <footer class="container"> 
        {{partial "footer.html" .}}
    </footer>
</body>

</html>