 

 {{ define "content" }} 
<div class="listview-outlook" >
    {{ $list := where (where .Site.Pages "Type" "article") ".Params.notsingle" "!=" true }} 
    {{ range  where $list "Date" ">" (now.AddDate 0 0 -30)  }}  
    <div class="list">
        <div class="list-content">
            <span class="list-title">
                     <div style="float:left"> <ul class="tags mini ">
                        {{range .Params.tags}}
                            <li><a href="#" >{{.}}</a> </li>
                        {{end}} 
                </ul>
                     </div>    
                <div> <a href="{{.Params.link}}" class="fg-black fg-hover-blue"> {{.Title}}</a></div>
                   </span>
            <span class="list-remark">
                <a href="https://github.com/{{.Params.by}}">{{.Params.by}}</a> 在{{dateFormat "15:04" .Date}} 提交 
                 <span>{{absURL .Params.link }}</span>
            <span class="place-right">评论</span>
            </span>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}