<li class=""> 
    <h2>
        <small> {{.Date.Format "01-02"}}</small>
        <a href="{{.URL}}"> {{.Title}}</a>
         {{if .Params.link}}
        <a href="{{.Params.link}}" class="mif-link" title="{{.Params.link}}"></a>
        {{end}}  
    </h2> 
    <div class="summary mb30">
        <div>
        <p class="indent-paragraph"> {{.Summary}} 
        </div>
        <div class="place-right">  
                                        <a href="{{.URL}}" class="fg-link mif-bubble mif-2x"></a> 
                                
        </div>
    </div>
</li>