{{ $currentPage := . }} 
<div class="app-bar fixed-top grayLight"  data-role="appbar">
    <div class="app-bar-element">
        <span id="toggle-tiles-dropdown" class="mif-apps mif-2x"></span>
        <div class="app-bar-drop-container"
                data-role="dropdown"
                data-toggle-element="#toggle-tiles-dropdown"
                data-no-close="false" style="width: 324px;">
            <div class="tile-container bg-white">
                <div class="tile-small bg-cyan">
                    <div class="tile-content iconic">
                        <a class="icon mif-github" href="{{.Site.Params.site.github}}" title="GitHub">   </a> 
                    </div>
                </div>
                <div class="tile-small bg-orange">
                    <div class="tile-content iconic">
                        <a class="icon mif-feed3" href="/index.xml" title="Feed订阅本站"></a> 
                    </div>
                </div>
                <div class="tile-small bg-green">
                    <div class="tile-content iconic">
                        <a class="icon mif-bubbles" href="{{.Site.Params.site.discuss}}" title="在GitHub上讨论"></a> 
                         
                    </div>
                </div>
                <div class="tile-small bg-cyan">
                    <div class="tile-content iconic">
                        <a class="icon mif-mail" href="mailto:{{.Site.Params.author.email}}" title="邮件联系作者"></a>  
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <span class="app-bar-divider"></span> 
    <ul class="app-bar-menu">
        {{ range .Site.Menus.global}} 
            <!-- 首页菜单处理 -->
            {{if eq "/index.html" .URL}} 
            <li {{if $.IsHome}}class="active"{{ end }} >
                     <a href="{{.URL}}" >{{.Name}}</a> 
            </li>
            {{else}}
            <li {{if or ($currentPage.IsMenuCurrent "global" .) ( hasPrefix  $currentPage.RelPermalink .Post) }}class="active"{{ end }} >
                <a href="{{.URL}}" >{{.Name}}</a> 
            </li>
            {{end}}
        {{end}} 
    </ul> 
</div> 