 
    <meta charset="utf-8"> 
     <base href="{{ .Site.BaseURL }}">
    <title> {{ .Title }}  </title>
    <link rel="canonical" href="{{ .Permalink }}">
   {{range slice "main" "metro" "metro-colors" "metro-responsive"  "metro-icons"}}
     <link rel="stylesheet" href="/css/{{.}}.css?v={{ readFile  (printf "static/css/%s.css" .) | md5 }}" /> 
   {{end}} 
    
    {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
 