{{ define "content" }}


<!--按模块  -->
<div class="grid">
   
{{$dict := dict "articles" "最新文章"  "news" "最新资讯" "jobs" "最新招聘" "packages" "开源库"   }}
{{range $index, $section := (slice "articles" "news" "jobs" "packages")}}
   {{$pages := (where $.Pages "Section" $section) }} 
     {{if modBool $index 2}} 
        {{if gt $index 0 }}
        </div>  
      {{end}}
      <!-- 两个一行  -->
      <div class="row cells2">   
     {{end}}
     <div class="cell">
      <div class="panel clear">
        <div class="heading"> 
          <span class="title text-default"> 
         {{index $dict $section}}
        </span>
        <a href="{{with $.Site.GetPage "section" $section}}{{.Permalink}}{{end}}" class="place-right mif-more-horiz" title="更多"></a> 
        </div>
        <div class="content">
          <ul>
            {{range first 12 (where $pages ".Params.notsingle" "==" nil)}}
            <li>
             <h2 class="text-default" >
              <a href="{{.URL}}" class="fg-black fg-hover-link text-default">
              {{.Title}}</a> 
               </h2> 
            </li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>
    
{{end}}
 

     
  </div>
</div>

{{ end }}