 <div class="carousel square-bullets" data-height="200" data-role="carousel" data-direction="right" data-controls="false">
                <div class="slide"><img src="images/1.jpg" data-role="fitImage" data-format="fill"></div>
                <div class="slide"><img src="images/2.jpg" data-role="fitImage" data-format="fill"></div>
                <div class="slide"><img src="images/3.jpg" data-role="fitImage" data-format="fill"></div>
                <div class="slide"><img src="images/4.jpg" data-role="fitImage" data-format="fill"></div>
            </div>