<div class="list">
    <div class="list-content">
        <span class="list-title"> 
                <div>
                    <h2 class="text-accent"> 
                        <a href="{{.URL}}" > {{.Title}}</a>
                    {{if .Params.link}}
                    <a href="{{.Params.link}}" class="mif-link" title="{{.Params.link}}"></a>
                    {{end}}  
                </h2>
                </div>
                   </span>
        <span class="list-remark"> 
                <a href="https://github.com/{{.Params.by}}">{{.Params.by}}</a> 在{{dateFormat "15:04" .Date}}发布 
             
                 {{partial "tags-link.html" .Params.tags }} 
 
                    <small class="place-right fg-grayLighter"> 
                       <a href="{{.URL}}"> <span class="mif-bubble"></span></a> 
                    </small>
    </span>
    </span>
</div>
</div>