<div class="list">
    <div class="list-content">
        <span class="list-title"> 
                <div> 
                    <h2 class="text-accent">
                    <a href="{{.URL}}" > {{.Title}}</a>
                    {{if .Params.link}}
                    <a href="{{.Params.link}}" class="mif-link" title="外部链接"></a>
                    {{end}}</h2>
                </div>
                   </span>
        <span class="list-remark">
                 <!-- <div class="place-left">  -->
                 {{if .Params.book.releaseDate}}
                  <span class="">{{.Params.book.releaseDate}}</span>  
                 {{end}}   
                {{if .Params.book.free}}
                <span class="tag success">免费</span>
                {{end}}
                {{partial "tags-link.html" .Params.tags }} 
                {{range .Params.book.reads}}  
                <span class="tag">{{.name}} </span> 
{{end}}

                <span>{{.Params.book.introduction}}</span>
                <small class="place-right fg-grayLighter"> 
                    <a href="{{.URL}}"> <span class="mif-bubble"></span></a> 
                </small>
    
    </span>
</div>
</div>