{{ define "content" }}
<article class="entry writingsentry" itemscope itemtype="http://schema.org/BlogPosting">
    <header> 
        {{partial "single-header.html" .}}

    </header>
    <div itemprop="articleBody" >  
        {{if .Params.book.cover}}
        <div class="image-container rounded place-right" style="max-width:300px;max-height:800px;">
                            <div class="frame"><img src="{{.Params.book.cover}}"></div>
                        </div>
                        {{end}}
       <div class="content">
            <p>
                  <dl class="horizontal">
                      <dt>作者</dt>
                      <dd>
                 {{if .Params.author.link}} 
                 <a  class="link" href="{{.Params.author.link}}">{{.Params.author.name}}</a>  
              {{else}}
               {{.Params.author.name}}
              {{end}}  
              </dd>
              
              {{if .Params.book.publisher}}
                <dt>出版社</dt>
                <dd>{{.Params.book.publisher}}</dd>
                <dt>出版时间</dt>
                <dd>{{.Params.book.releasedate}}</dd> 
              {{end}}
                  </dl>
            </p>

           {{ .Content }} 
       </div> 
    </div> 
    <div> 
          
{{range .Params.book.reads}} 
<a class="image-button small-button success" href="{{.link}}">
    {{.name}}
    <span class="icon mif-file-download"></span>
</a> 
{{end}}
{{range .Params.book.buys}} 
<a class="image-button small-button" href="{{.link}}">
    {{.name}}
    <span class="icon mif-shop"></span>
</a> 
{{end}}
    
    </div>
    {{partial "single-bar.html" .}}
</article> 
{{ end }}