{{ define "content" }}
<article class="entry writingsentry" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">
           {{if .Params.book.free}}
           <span class="tag success"> 免费</span>
           {{end}}
           《 <a rel="bookmark" href="{{.URL}}" class="fg-black">{{ .Title }}</a> 》
        </h1>
        <div   class="fg-grayLight padding10 no-padding-right no-padding-left no-padding-top">
            <span itemprop="author">
                <span itemscope itemtype="http://schema.org/Person">
                    {{partial "authorlink.html" . }} 
                </span>
            </span> 
              {{if .Params.author.link}}
               <span>作者:<a  class="link" href="{{.Params.author.link}}">{{.Params.author.name}}</a> </span>
              {{else}}
              <span>{{.Params.author.name}}</span>
              {{end}}  
              {{if .Params.book.publisher}}
              <span>出版社：{{.Params.book.publisher}}</span>
              <span>出版时间：{{.Params.book.releasedate}}</span>
              {{end}}
              {{if .Params.pay}}
                 <span class="tag">{{.Params.pay}} </span>
              {{end}}
                {{partial "tags-link.html" .Params.tags }}

            <span class="place-right fg-grayLight">
                 <time itemprop="datePublished" datetime="{{.Date.Format "2006-01-02"}}">{{ .Date.Format "2006年01月02日" }}</time> 
             </span>
        </div>
    </header>
    <div itemprop="articleBody" >  
        {{if .Params.book.cover}}
<div class="image-container rounded place-right" style="max-width:300px;max-height:800px;">
                            <div class="frame"><img src="{{.Params.book.cover}}"></div>
                        </div>
                        {{end}}
       <div class="content">
           {{ .Content }} 
       </div> 
    </div> 
    <div> 
          
{{range .Params.book.reads}} 
<a class="image-button small-button success" href="{{.link}}">
    {{.name}}
    <span class="icon mif-file-download"></span>
</a> 
{{end}}
{{range .Params.book.buys}} 
<a class="image-button small-button" href="{{.link}}">
    {{.name}}
    <span class="icon mif-shop"></span>
</a> 
{{end}}
    
    </div>
    {{partial "single-bar.html" .}}
</article> 
{{ end }}